* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #afafaf;
}

header {
    text-align: center;
    background-color: #6b6b6b;
    height: 120px;
    line-height: 120px;
    color: white;
}

.main-title {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.container-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
    width: 30%;
    height: auto;
    margin: 50px auto;
    background-color: gainsboro;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
    box-shadow: 1px 1px 50px gray;
}

.container-login h2 {
    color: rgb(57, 57, 57);
    text-shadow: 1px 1px 2px gray;
}

.default-input {
    font-size: 18px;
    padding: 5px 10px;
    width: 75%;
    outline: none;
    color: black;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    transition: .3s ease;
    box-shadow: 3px 3px 2px 0 #E2E2E2;
}

.default-input:focus {
    background: #f2f2f2;
    border: 1px solid #5A7EC7;
    border-radius: 10px;
}

.default-input::placeholder {
    color: #DDDDDD;
}

.botao-principal {
    width: 50%;
    height: 48px;
    background: #1842e7;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 24px;
    transition: 0.3s ease;
    cursor: pointer;
    display: inline-flex;
    user-select: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: none;
    text-shadow: 1px 1px 2px black;
}

.botao-principal:hover {
    transform: translateY(-3px);
    background: #e94560;
}

.botao-registro {
    border: none;
    background: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.botao-registro:hover {
    color: rgb(88, 88, 209);
}

.botao-registro:active {
    color: purple;
}

.mensagem-erro {
    color: red;
    font-weight: 300;
    display: none;
}

.pagina-protegida {
    display: none;
}
